.card-container{
   border-radius: 20px;
   border: 2px solid #D2D2D2;
   }
   
   .card-slider{
       height: 221px;
    
   }
   
   
   .image-logo{
       width: 195px;
     height: auto;
     image-rendering: -webkit-optimize-contrast; /* Optimize contrast for Safari */
     image-rendering: crisp-edges; /* Prevent blurring on scaling */
     -webkit-backface-visibility: hidden; /* Fix potential Safari rendering issues */
     -webkit-transform: translate3d(0, 0, 0); /* Trigger hardware acceleration */
     -webkit-filter: contrast(1.1); /* Slightly increase contrast */
     filter: contrast(1.1); /* Slightly increase contrast for non-webkit browsers */
   }
   
   .brand-logo{
       max-width: 128px;
       width: 100%;
       height: 24px;
       max-height: 24px;
       height: auto;
       object-fit: cover;
     image-rendering: -webkit-optimize-contrast; /* Optimize contrast for Safari */
     image-rendering: crisp-edges; /* Prevent blurring on scaling */
     -webkit-backface-visibility: hidden; /* Fix potential Safari rendering issues */
     -webkit-transform: translate3d(0, 0, 0); /* Trigger hardware acceleration */
     -webkit-filter: contrast(1.1); /* Slightly increase contrast */
     filter: contrast(1.1); /* Slightly increase contrast for non-webkit browsers */
   }